<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>LostAndFoundThailand</title>

	<!--=== CSS ===-->

	

	<!-- Bootstrap -->
	<link href="./Template/Melon/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!-- Theme -->
	<link href="./Template/Melon/assets/css/main.css" rel="stylesheet" type="text/css" />
	<link href="./Template/Melon/assets/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="./Template/Melon/assets/css/responsive.css" rel="stylesheet" type="text/css" />
	<link href="./Template/Melon/assets/css/icons.css" rel="stylesheet" type="text/css" />

	<!-- Login -->
	<link href="./Template/Melon/assets/css/error.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="./Template/Melon/assets/css/fontawesome/font-awesome.min.css">
	<!--[if IE 7]>
		<link rel="stylesheet" href="assets/css/fontawesome/font-awesome-ie7.min.css">
	<![endif]-->

	<!--[if IE 8]>
		<link href="assets/css/ie8.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

	<!--=== JavaScript ===-->

	<script type="text/javascript" src="./Template/Melon/assets/js/libs/jquery-1.10.2.min.js"></script>

	<script type="text/javascript" src="./Template/Melon/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./Template/Melon/assets/js/libs/lodash.compat.min.js"></script>

</head>



<body>

<!--=== Error Title ===-->
	<div class="title">
		<h1>404</h1> <!-- You can use something like <h1 class="red">500</h1> for other error codes -->
	</div>
	<!-- /Error Title -->

	<div class="actions">
		<div class="list-group">
			<li class="list-group-item list-group-header align-center">
				คุณไม่ได้รับอนุญาตให้เข้าใช้พื้นที่นี้
			</li>
			
		</div>
	</div>

	<!-- Footer -->
	<div class="footer">

	</div>
	<!-- /Footer -->

</body>
</html>