<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Login | Dit </title>

	<!--=== CSS ===-->

	<!-- Bootstrap -->
	<link href="./Template/Melon/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!-- Theme -->
	<link href="./Template/Melon/assets/css/main.css" rel="stylesheet" type="text/css" />
	<link href="./Template/Melon/assets/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="./Template/Melon/assets/css/responsive.css" rel="stylesheet" type="text/css" />
	<link href="./Template/Melon/assets/css/icons.css" rel="stylesheet" type="text/css" />

	<!-- Login -->
	<link href="./Template/Melon/assets/css/login.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="./Template/Melon/assets/css/fontawesome/font-awesome.min.css">
	<!--[if IE 7]>
		<link rel="stylesheet" href="./Template/Melon/assets/css/fontawesome/font-awesome-ie7.min.css">
	<![endif]-->

	<!--[if IE 8]>
		<link href="./Template/Melon/assets/css/ie8.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

	<!--=== JavaScript ===-->

	<script type="text/javascript" src="./Template/Melon/assets/js/libs/jquery-1.10.2.min.js"></script>

	<script type="text/javascript" src="./Template/Melon/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./Template/Melon/assets/js/libs/lodash.compat.min.js"></script>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="assets/js/libs/html5shiv.js"></script>
	<![endif]-->

	<!-- Beautiful Checkboxes -->
	<script type="text/javascript" src="./Template/Melon/plugins/uniform/jquery.uniform.min.js"></script>

	<!-- Form Validation -->
	<script type="text/javascript" src="./Template/Melon/plugins/validation/jquery.validate.min.js"></script>

	<!-- Slim Progress Bars -->
	<script type="text/javascript" src="./Template/Melon/plugins/nprogress/nprogress.js">
	</script>

	
	
	<omdae:TLabel id='Style3Party' />
	<omdae:TLabel id='JavaScriptPage' />
	

</head>

<body class="login">
<div id="page-signin-bg">
		<!-- Background overlay -->
	
		<!-- Replace this with your bg image -->
		<img src='images/cover_4.jpg' alt="" style="height: 100%;
left: 0;
overflow: hidden;
position: fixed;
top: 0;
width: 100%;
z-index: -200">
	</div>
	<omdae:TPage id='Login' />

	
</body>
</html>