<!DOCTYPE html>

<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta charset="utf-8" />
<title>
demo web
</title>
<meta name="description" content="<omdae:TLabel id='description' />" />
<meta name="keywords" content="<omdae:TLabel id='keywords' />" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

<meta name="author" content="" />
<style>

        ul {
            list-style: none;
        }

        .rev-slider {
            overflow: hidden !important;
            display: none;
        }

        .rev-slider.revslider-initialised {
            display: block;
        }

        #rev1 {
            height: 620px;
        }
        #rev2 {
            height: 840px;
        }

    </style>

    <link rel="icon"  href="./Template/html/favicon.png" type="image/png" />

    <link rel="stylesheet" type="text/css" href="./Template/html/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./Template/html/assets/css/style.css">

    <script src="./Template/html/assets/js/modernizr.custom.js"></script>
    <script src="./Template/html/assets/js/device.min.js"></script>





</head>

<body class="header-light navbar-light navbar-fixed with-topbar withAnimation">





<omdae:TPage id='header' />

<div id="wrapper">

<div id="page-signin-bg">
<img src="images/wall2.jpg" style="height: 100%;
left: 0;
overflow: hidden;
position: fixed;
top: 0;
background:rgba(0, 0, 0, 0.49);
width: 100%;
z-index: -200;" >
</div>

<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header visible-xs">
        <a class="navbar-brand" href="?page=MainPage.HomePage"><img src="./Template/html/assets/images/content/logo.png" alt="กรมการค้าต่างประเทศ กระทรวงพาณิชย์"/></a>
        <button type="button" class="navbar-toggle" id="sidebar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="showHeaderSearch"><i class="fa fa-fw fa-search"></i></a>
    </div>
</div>

<omdae:TPage id='mains' />


<omdae:TPage id='footer' />

</div>


<script src="./Template/html/assets/js/jquery.min.js"></script>
<script src="./Template/html/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="./Template/html/assets/js/corpress.min.js"></script>
<!-- IE -->
<script src="./Template/html/assets/js/modernizr.custom.js"></script>





<!-- Revolution Slider -->
<script src="./Template/html/assets/plugins/revslider/js/jquery.themepunch.revolution.min.js"></script>
<script src="./Template/html/assets/plugins/revslider/js/jquery.themepunch.plugins.min.js"></script>

<!-- Flexslider -->
<script src="./Template/html/assets/plugins/flexslider/jquery.flexslider-min.js"></script>



<!-- Contact form validation -->
<script src="./Template/html/assets/form/js/contact-form.js"></script>

<!-- our main JS file -->
<script src="./Template/html/assets/js/main.js"></script>

</body>
</html>


